<h1>{{title}}</h1>
<button><a href="#">Add New Role</a></button>

<div style="margin-left:20px; margin-top:20px">
<div class="form_btn">

</div>

<div class="m-4">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Organizer Name</th>
                <th>Competition</th>
                <th>Email</th>
                <th>Team Members</th>
            </tr>
        </thead>
        <tbody>
            {{!-- <tr>
                <td>1</td>
                <td>{{this.organizername}}</td>
                <td>{{this.competition}}</td>
                <td>{{this.email}}</td>
                <td>{{this.teammembers}}</td>
            </tr> --}}
            <tr>
                <td>1</td>
                <td>a</td>
                <td>d</td>
                <td>a</td>
                <td>d</td>
            </tr>
            
        </tbody>
    </table>
</div>


</div>
